body {
  overflow-y: auto;
  background-image: url("/src/elements/images/grass-background.png");
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: -4px -4px 0 var(--green-4), 4px -4px 0 var(--green-4),
    -4px 4px 0 var(--green-4), 4px 4px 0 var(--green-4);
  text-align: center;
}

main section,
aside {
  display: flex;
  gap: 16px;
}

main section {
  flex-direction: column;
}

#question-container,
aside section,
dialog section {
  background-color: var(--green-4);
  border: 4px solid var(--green-1);
  padding: 10px 30px;
  margin: 6px;
  box-shadow: -6px 0 0 0 var(--green-4), 6px 0 0 0 var(--green-4),
    0 -6px 0 0 var(--green-4), 0 6px 0 0 var(--green-4);
}

h2 {
  margin: 0;
  word-break: break-all;
}

main h2 {
  font-size: smaller;
}

#image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--green-4);
  border: 4px solid var(--green-1);
  padding: 10px 30px;
  margin: 6px auto;
  max-height: 250px;
  box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
    0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

#image-container img {
  width: 100%;
  height: 100%;
}

#error-text {
  position: absolute;
  color: red;
  font-size: x-large;
  text-align: center;
  display: none;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: 0 32px;
}

#buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 16px;
}

#buttons-container button {
  width: 50%;
}

input[type="text"] {
  background-color: var(--green-4);
  border: 4px solid var(--green-1);
  padding: 10px;
  margin: 6px;
  box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
    0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

.error {
  box-shadow: -6px 0 0 0 red, 6px 0 0 0 red, 0 -6px 0 0 red, 0 6px 0 0 red !important;
  animation: ErrorMove 0.25s infinite linear;
}

main input[type="text"] {
  width: 100%;
}

button:disabled,
input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

aside {
  flex-direction: column;
}

#rules {
  height: 100%;
}

form {
  display: flex;
  gap: 8px;
}

footer p {
  color: var(--green-4);
}

footer {
  position: unset;
}

dialog {
  padding: 0;
  background: transparent;
  border: none;
}

dialog section,
dialog form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

dialog section {
  padding: 16px;
}

dialog p {
  font-size: 0.7rem;
}

dialog h2 {
  font-size: 1.2rem;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

#dialog-header button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: large;
}

#buttons-score {
  display: flex;
  justify-content: end;
  gap: 16px;
}

@media screen and (min-width: 1000px) {
  #game-container {
    flex-direction: row;
  }

  aside {
    max-width: 20%;
  }

  #image-container {
    max-height: 475px;
  }

  main h2 {
    font-size: larger;
  }

  dialog p {
    font-size: 1rem;
  }

  dialog h2 {
    font-size: 1.5rem;
  }
}

@keyframes ErrorMove {
  from {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(20px);
  }
  to {
    transform: translateX(0px);
  }
}
