body {
  background-image: url("/src/elements/images/home-backrgound.png");
  max-height: 100%;
}

header {
  background-color: var(--green-4);
  border: 4px solid var(--green-1);
  box-shadow: -6px 0 0 0 var(--green-4), 6px 0 0 0 var(--green-4),
    0 -6px 0 0 var(--green-4), 0 6px 0 0 var(--green-4);
}

nav a {
  color: var(--green-1);
}

main a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  font-size: 0.8rem;
  color: var(--green-1);
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-text {
  font-size: 0;
}

.pixel-btn {
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 55%;
  font-size: 1rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 4rem;
  }

  .link-text {
    font-size: 1rem;
  }

  .nav-links {
    margin-top: 10%;
    flex-direction: row;
  }

  .pixel-btn {
    font-size: 2rem;
    text-align: center;
    height: 300px;
  }
}
