body {
  background-image: url("../elements/images/Index-background.png");
}

h1{
  font-size: 3rem;
  text-align: center;
  animation:TitreMove 0.5s infinite alternate-reverse linear;
}

#sous-titre{
  font-size: 1rem;
  color:var(--green-1);
  text-align: center;
  margin:0;
  animation:SousTitreMove 0.5s infinite alternate-reverse linear;
  animation-delay: 0.25s;
}

#copyright{
  font-size: 0.8rem;
  color:var(--green-4);
}

div{
  width: 100%;
  position:absolute;
  top:20%;
}

@keyframes TitreMove{
  from{margin-top: 0px;}
  25%{margin-top: 0px;}
  26%{margin-top: 5px;}
  74%{margin-top: 5px;}
  75%{margin-top: 10px;}
  to{margin-top: 10px;}
}

@keyframes SousTitreMove{
  from{margin-top: 0px;}
  50%{margin-top: 0px;}
  51%{margin-top: 5px;}
  to{margin-top: 5px;}
}

@media screen and (min-Width:1000px) {
  h1{
    font-size: 4rem;
  }

  #sous-titre{
  font-size: 1.3rem;
  }
}

h1, #sous-titre {
  transition: font-size .5s;
}