body {
    background-image: url("../elements/images/grass-background.png");
    max-width: 100%;
}

header {
    background-color: var(--green-1);
    border: 4px solid var(--green-2);
    padding: 10px 10px;
    margin: 20px;
    box-shadow: -6px 0 0 0 var(--green-1), 6px 0 0 0 var(--green-1),
        0 -6px 0 0 var(--green-1), 0 6px 0 0 var(--green-1);
    font-size: 0.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
} 
.main-nav-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}

.nav-return {
    display: flex;
    justify-content: baseline;
}

a {
    color: var(--green-4);
    text-decoration: none;
}

section {
    background-color: var(--green-4);
    border: 4px solid var(--green-2);
    padding: 10px 10px;
    margin: 20px;
    box-shadow: -6px 0 0 0 var(--green-4), 6px 0 0 0 var(--green-4),
        0 -6px 0 0 var(--green-4), 0 6px 0 0 var(--green-4);
    display: flex;
    justify-content: center;
    gap: 15px;
}

.tab-content {
    margin: 20px 20px 20px;
    max-height: 500px;
    overflow-y: scroll;
    box-sizing: border-box;
    background-color: var(--green-4);
    border: 4px solid var(--green-2);
    box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
        0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    top: 0;
    position: sticky;
    background-color: var(--green-2);
    color: var(--green-4);
    border-spacing: 10px;
}

th,
td {
    font-size: 0.6rem;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    /* word-break: break-word; */

}

td {
    border-bottom: 2px solid var(--green-2);
}

tbody {
    background-color: var(--green-4);
    color: var(--green-2);
}

.img-pokemon {
    max-height: 10vh;
    max-width: auto;
}

.type-container {
    padding-left: 0;
    padding-right: 0;
}

.img-type {
    max-height: auto;
    max-width: 5rem;
}

h2 {
    font-size: 3rem;
    color: var(--green-1);
    text-transform: uppercase;
    text-shadow: -4px -4px 0 var(--green-4), 4px -4px 0 var(--green-4),
        -4px 4px 0 var(--green-4), 4px 4px 0 var(--green-4);
    text-align: center;
}

p {
    font-size: 0.75rem;
    color: var(--green-2);
    margin: 0;
}

#credits {
    font-size: 0.75rem;
    color: var(--green-1);
    text-align: center;
}

#gen-select {
    color: var(--green-4);
    background-color: var(--green-1);
    border: none;
}