body {
  background-image: url("/src/elements/images/grass-background.png");
  max-width: 100%;
}

th,
td {
  font-size: 0.6rem;
}

.img-pokemon {
  max-height: 10vh;
  max-width: auto;
}

.type-container {
  padding-left: 0;
  padding-right: 0;
}

.img-type {
  max-height: auto;
  max-width: 5rem;
}

footer p {
  font-size: 0.8rem;
  color: var(--green-4);
}

section p {
  margin: 5px;
}

main {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  main {
    width: 70%;
  }
}
