body {
  background-image: url("../elements/images/grass-background.png");
  max-width: 100%;
}

section {
  background-color: var(--green-4);
  border: 4px solid var(--green-2);
  padding: 10px 10px;
  margin: 20px;
  box-shadow: -6px 0 0 0 var(--green-4), 6px 0 0 0 var(--green-4),
    0 -6px 0 0 var(--green-4), 0 6px 0 0 var(--green-4);
  display: flex;
  justify-content: center;
  gap: 15px;
}

th,
td {
  font-size: 0.75rem;
  word-break: break-word;
}

footer p {
  font-size: 0.8rem;
  color: var(--green-4);
}
