body {
  background-image: url("../elements/images/grass-background.png");
  max-width: 100%;
}

th,
td {
  font-size: 0.75rem;
  word-break: break-word;
}

footer p {
  font-size: 0.8rem;
  color: var(--green-4);
}

main {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  main {
    width: 70%;
  }
}
