@font-face {
  font-family: PlayerSansMono;
  src: local(HankenGrotesk),
    url("../elements/fonts/playerSansMono/PlayerSansMono8x13-Classic.ttf");
}

:root {
  --green-1: #0f3810;
  --green-2: #1e661f;
  --green-3: #8cac0e;
  --green-4: #c6dd63;
}

* {
  font-family: PlayerSansMono;
  color: var(--green-1);
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.pixel-btn {
  background-color: var(--green-4);
  border: 3px solid var(--green-1);
  color: var(--green-1);
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 6px;

  box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
    0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

h1 {
  color: var(--green-1);
  text-transform: uppercase;
  text-shadow: -4px -4px 0 var(--green-4), 4px -4px 0 var(--green-4),
    -4px 4px 0 var(--green-4), 4px 4px 0 var(--green-4);
  text-align: center;
}

#copyright {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#gen-select {
  color: var(--green-4);
  background-color: var(--green-1);
  border: none;
}

header {
  background-color: var(--green-1);
  border: 4px solid var(--green-2);
  padding: 10px 10px;
  margin: 20px;
  box-shadow: -6px 0 0 0 var(--green-1), 6px 0 0 0 var(--green-1),
    0 -6px 0 0 var(--green-1), 0 6px 0 0 var(--green-1);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  font-size: 0.75rem;
}

.nav-buttons {
  display: flex;
  justify-content: baseline;
  gap: 30px;
}

nav a {
  color: var(--green-4);
  text-decoration: none;
}

nav img {
  max-height: 30px;
}
