@font-face {
  font-family: PlayerSansMono;
  src: local(HankenGrotesk),
    url("../elements/fonts/playerSansMono/PlayerSansMono8x13-Classic.ttf");
}

:root {
  --green-1: #0f3810;
  --green-2: #1e661f;
  --green-3: #8cac0e;
  --green-4: #c6dd63;
}

* {
  font-family: PlayerSansMono;
  color: var(--green-1);
  transition: font-size 0.5s;
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.pixel-btn {
  background-color: var(--green-4);
  border: 3px solid var(--green-1);
  color: var(--green-1);
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin: 6px;

  box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
    0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

h1 {
  font-size: 3rem;
  color: var(--green-1);
  text-transform: uppercase;
  text-shadow: -4px -4px 0 var(--green-4), 4px -4px 0 var(--green-4),
    -4px 4px 0 var(--green-4), 4px 4px 0 var(--green-4);
  text-align: center;
}

.table-container {
  margin: 20px;
  max-height: 500px;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: var(--green-4);
  border: 4px solid var(--green-2);
  box-shadow: -6px 0 0 0 var(--green-3), 6px 0 0 0 var(--green-3),
    0 -6px 0 0 var(--green-3), 0 6px 0 0 var(--green-3);
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  top: 0;
  position: sticky;
  background-color: var(--green-2);
  color: var(--green-4);
  border-spacing: 10px;
}

th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 1em;
}

td {
  border-bottom: 2px solid var(--green-2);
}

tbody {
  background-color: var(--green-4);
  color: var(--green-2);
}

#gen-select {
  color: var(--green-4);
  background-color: var(--green-1);
  border: none;
}

header {
  background-color: var(--green-1);
  border: 4px solid var(--green-2);
  padding: 10px 10px;
  margin: 20px;
  box-shadow: -6px 0 0 0 var(--green-1), 6px 0 0 0 var(--green-1),
    0 -6px 0 0 var(--green-1), 0 6px 0 0 var(--green-1);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  font-size: 0.75rem;
}

.music-controls {
  display: flex;
  justify-content: baseline;
  gap: 30px;
}

.music-controls button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

nav a {
  color: var(--green-4);
  text-decoration: none;
}

nav img {
  max-height: 30px;
}

footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.gen-container {
  background-color: var(--green-4);
  border: 4px solid var(--green-2);
  padding: 10px 10px;
  margin: 20px;
  box-shadow: -6px 0 0 0 var(--green-4), 6px 0 0 0 var(--green-4),
    0 -6px 0 0 var(--green-4), 0 6px 0 0 var(--green-4);
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width: 1000px) {
  nav {
    justify-content: space-between;
    flex-direction: row;
  }

  .nav-menu {
    gap: 30px;
  }

  h1 {
    font-size: 4rem;
  }
}
